USE [master]
GO
/****** Object:  Database [TEKNORIX_PROJECT]    Script Date: 17-06-2024 12:27:44 ******/
CREATE DATABASE [TEKNORIX_PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEKNORIX_PROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TEKNORIX_PROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEKNORIX_PROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TEKNORIX_PROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEKNORIX_PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEKNORIX_PROJECT]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 17-06-2024 12:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENTID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENTTITLE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17-06-2024 12:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Name] [nchar](10) NOT NULL,
	[Gender] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Gender]    Script Date: 17-06-2024 12:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Gender](
	[Gender] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOB_OPENING]    Script Date: 17-06-2024 12:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_OPENING](
	[JOBOPENINGID] [int] IDENTITY(1,1) NOT NULL,
	[JOBCODE] [varchar](15) NULL,
	[JOBTITLE] [varchar](20) NULL,
	[JOBDESCRIPTION] [varchar](255) NULL,
	[JOBPOSTEDDATE] [date] NULL,
	[JOBCLOSINGDATE] [date] NULL,
	[DEPARTMENTID] [int] NULL,
	[LOCATIONID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JOBOPENINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 17-06-2024 12:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[LOCATIONID] [int] IDENTITY(1,1) NOT NULL,
	[LOCATIONTITLE] [varchar](255) NULL,
	[CITY] [varchar](20) NULL,
	[STATE] [varchar](20) NULL,
	[COUNTRY] [varchar](20) NULL,
	[ZIPCODE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOCATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTTITLE]) VALUES (1, N'Development')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTTITLE]) VALUES (2, N'QA')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENTID], [DEPARTMENTTITLE]) VALUES (3, N'Sup Dev')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
INSERT [dbo].[Employee] ([Name], [Gender]) VALUES (N'Sahil     ', N'Male      ')
INSERT [dbo].[Employee] ([Name], [Gender]) VALUES (N'Sonia     ', N'Female    ')
GO
INSERT [dbo].[Employee_Gender] ([Gender]) VALUES (0)
INSERT [dbo].[Employee_Gender] ([Gender]) VALUES (1)
GO
SET IDENTITY_INSERT [dbo].[JOB_OPENING] ON 

INSERT [dbo].[JOB_OPENING] ([JOBOPENINGID], [JOBCODE], [JOBTITLE], [JOBDESCRIPTION], [JOBPOSTEDDATE], [JOBCLOSINGDATE], [DEPARTMENTID], [LOCATIONID]) VALUES (1, N'SD', N'QA Tester', N'Software Tester', CAST(N'2024-05-07' AS Date), CAST(N'2024-05-13' AS Date), 2, 1)
INSERT [dbo].[JOB_OPENING] ([JOBOPENINGID], [JOBCODE], [JOBTITLE], [JOBDESCRIPTION], [JOBPOSTEDDATE], [JOBCLOSINGDATE], [DEPARTMENTID], [LOCATIONID]) VALUES (2, NULL, N'string', N'string', NULL, CAST(N'2024-05-13' AS Date), 2, 1)
INSERT [dbo].[JOB_OPENING] ([JOBOPENINGID], [JOBCODE], [JOBTITLE], [JOBDESCRIPTION], [JOBPOSTEDDATE], [JOBCLOSINGDATE], [DEPARTMENTID], [LOCATIONID]) VALUES (3, NULL, N'Jr Dev', N'Jr Dev', NULL, CAST(N'2024-12-11' AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[JOB_OPENING] OFF
GO
SET IDENTITY_INSERT [dbo].[LOCATION] ON 

INSERT [dbo].[LOCATION] ([LOCATIONID], [LOCATIONTITLE], [CITY], [STATE], [COUNTRY], [ZIPCODE]) VALUES (1, N'Head Office', N'BALTIMORE', N'MD', N'UNITED STATES', N'21202')
INSERT [dbo].[LOCATION] ([LOCATIONID], [LOCATIONTITLE], [CITY], [STATE], [COUNTRY], [ZIPCODE]) VALUES (2, N'Office', N'Carmona 2', N'Goa', N'India', N'403717')
INSERT [dbo].[LOCATION] ([LOCATIONID], [LOCATIONTITLE], [CITY], [STATE], [COUNTRY], [ZIPCODE]) VALUES (3, N'Main Office ', N'Margao', N'Goa', N'India', N'403717')
SET IDENTITY_INSERT [dbo].[LOCATION] OFF
GO
ALTER TABLE [dbo].[JOB_OPENING]  WITH CHECK ADD FOREIGN KEY([DEPARTMENTID])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENTID])
GO
ALTER TABLE [dbo].[JOB_OPENING]  WITH CHECK ADD FOREIGN KEY([LOCATIONID])
REFERENCES [dbo].[LOCATION] ([LOCATIONID])
GO
USE [master]
GO
